.home-account {
    padding: 20px 0;
}

.account-avt {
    width: 120px;
    height: 120px;
    border: 2px #fff solid;
    border-radius: 50%;
    background-color: crimson;
    overflow: hidden;
    margin: auto;
}

.account-avt img {
    width: 100%;
    height: 100%;
}

.account-detail {
    text-align: center;
}

.account-info h4 {
    margin-top: 10px;
}

.account-info p {
    font-style: italic;
    font-weight: 200;
}

.account-contact {
    font-weight: 500;
}

.home-attend {
    /* margin-top: -20px; */
}

.home-button {
    margin: 40px 0 100px;
}

.home-button button {
    border-radius: 20px;
    margin: 0 5px;
    min-width: 150px;
}


@media screen and (max-width: 768px) {
    .home-attend {
        margin-top: -20px;
    }

}

@media screen and (min-width: 768px) {
    .home-attend {
        margin-top: 50px;
    }

    .home-account {
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
    }

    .account-detail {
        margin-top: 20px;
    }

}