.attendance {
    background-color: whitesmoke;
    min-height: 100vh;
}

.attendance h1 {
    text-align: center;
    margin: 20px 0 50px;
}

.attend-type h5 {
    text-transform: uppercase;
    color: darkblue;
    text-align: center;
    padding: 30px 0;
    background-color: #fff;
}

.attend-detail {
    padding: 20px;
    background-color: #fff;
}

.attend-calendar {
    margin: 20px;
}

/* .calendar {
    display: none;
} */

.attend-time input {
    margin-top: -3px;
    margin-left: 5px;
    border: none;
}

.attend-time input:focus {
    outline: none;
}

.attend-local select {
    min-width: 100px;
    margin-left: 5px;
    border: none;
}

.attend-local select:focus {
    outline: none;
}