
.maintenance-title, 
.maintenance-detail, 
.maintenance-note, 
.maintenance-history {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #fff;
}

.maintenance-title {
    text-align: center;
}

.maintenance-title h5 {
    color: darkblue;
}

.maintenance-detail {
    font-weight: 300;
}

.maintenance-detail button {
    border-radius: 20px;
    min-width: 140px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.note-title p, .history-title p {
    margin-left: 10px;
    text-transform: uppercase;
}

.history-date {
    padding: 5px;
    background-color: whitesmoke;
    font-style: italic;
    color: gray;
}