@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app {
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}

.cover-bg {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.themes {
    background-image: linear-gradient(90deg, #2D82B5, #015C92);
    color: #fff;
    border-radius: 15px;
    border: 5px #fff solid;
}

@media screen and (min-width: 768px) {
    .cover-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('./assets/bg.svg');
    }

}