.reason-title,
.reason-input,
.reason-input-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #fff;
}

.reason-title h5 {
    color: #3b71ca;
}

.reason-time input {
    border: none;
}

.reason-time input:focus {
    outline: none;
}

.reason-input textarea {
    border: none;
    width: 100%;
    resize: none;
}

.reason-input textarea:focus {
    outline: none;
}

.btn-save {
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
}

.input_img {
    margin-top: 10px 10px 0 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-image {
    display: inline;
    position: relative;
    /* margin: 0 10px; */
    top: 0;
}

.input-image button {
    position: absolute;
    left: 75px;
    top: -35px;
    background-color: transparent;
    cursor: pointer;
}

.input-img-group {
    display: flex;
    overflow-x: auto;
}

.reason-input-img input {
    color: transparent;
    margin-bottom: 10px;
}
